@import url(../styles/vendor/normalize.css);

.text-reset {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.section {
  max-width: 1140px;
}
.link-hover-opacity {
  transition: opacity .3s ease;
}
.link-hover-opacity:hover {
  opacity: .8;
}


.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
}
.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 68px;
  background-color: #fff;
}
.header__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2px;
}
.header__logo-geely {
  min-width: 171px;
  min-height: 24px;

  background-image: url(../images/logo/logo-geely.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;

  margin-left: 1px;
  margin-right: 24px;
  margin-top: 4px;
}
.header__divider {
  min-width: 1px;
  min-height: 33px;
  background-color: #2f3d47;

  margin-right: 23px;
}
.header__logo-rbis {
  min-width: 152px;
  min-height: 27px;

  background-image: url(../images/logo/logo-rbis.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;

  margin-right: 90px;
}

.header__icon-maps-and-flags {
  min-width: 13px;
  min-height: 18px;

  background-image: url(../images/maps-and-flags.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;

  margin-right: 10px;
  margin-bottom: 3px;
}
.header_text-address {
  min-width: 164px;
  font-size: 12px;
  font-family: "Open Sans";
  font-style: normal;
  color: #565656;
  line-height: 1.167;

  margin-bottom: 2px;
  margin-right: 72px;
}

.header__icon-call {
  min-width: 16px;
  min-height: 16px;

  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;

  margin-right: 4px;
}
.header__text-call-number {
  min-width: 145px;
  font-size: 16px;
  font-family: "Open Sans";
  font-style: normal;

  color: #303030;
  font-weight: bold;

  line-height: 1.2;
  margin-right: 79px;
  margin-top: 2px;
}

.header__button-make-call {
  min-width: 175px;
  height: 33px;
  background-color: transparent;
  border: 1px solid #002d96;

  cursor: pointer;

  font-size: 14px;
  font-family: "Open Sans";
  color: #002d96;
  line-height: 1.2;
  transition: all .3s ease;
}

.header__button-make-call:hover {
  background-color: #002d96;
  color: #fff;
}

.header__menu {
  background-color: #2F3D47;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 44px;
}
.header__menu-list, .header__menu-second-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}
.header__menu-item, .header__menu-second-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-item:nth-child(1) {
  margin-right: 40px;
}
.header__menu-item:nth-child(2) {
  margin-right: 33px;
}
.header__menu-item:nth-child(3) {
  margin-right: 27px;
}

.header__menu-second-item:nth-child(1) {
  margin-right: 27px;
}
.header__menu-second-item:nth-child(2) {
  margin-right: 28px;
}
.header__menu-second-item:nth-child(3) {
  margin-right: 26px;
}
.header__menu-second-item:nth-child(4) {
  margin-right: 32px;
}

.header__menu-link, .header__menu-second-link {
  font-size: 13px;
  font-family: "Open Sans";

  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -2px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 690px;

  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.offer__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100%;
  max-width: 1920px;
}
.offer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.offer__title {
  margin-top: 60px;
  font-size: 43px;
  font-family: "Open Sans";
  color: #fff;
  font-weight: bold;

  line-height: 36px;
  text-align: center;
}
.offer__title-sum {
  font-size: 50px;
}
.offer__title-currency {
  font-family: "Inter";
  font-weight: 400;
  font-size: 39px;
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  margin-top: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offer__item {

}
.offer__item-text {
  font-size: 35px;
  font-family: "Open Sans";

  color: #fff;

  line-height: 1.2;
  text-align: center;
  font-weight: 400;
}
.offer__item-text-value {
  font-weight: bold;
}

.slick-slider {
  max-width: 832px;
  position: static;
  margin-left: -2px;
}

.slick-prev, .slick-next {
  position: absolute;
  top: calc(50% + 5px);
  transform: translateY(-50%);
}

.slick-prev, .slick-next {
  display: block;
  min-width: 31px;
  min-height: 61px;
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
  transition: opacity .3s ease;
}

.slick-prev, .slick-prev:hover {
  left: 62px;
  background-image: url(../images/left-arrow.png);
}

.slick-next, .slick-next:hover {
  right: 76px;
  background-image: url(../images/right-arrow.png);
}
.slick-prev:hover, .slick-next:hover {
  opacity: .8;
}

.slick-prev::before, .slick-next::before {
  display: none;
}

.offer__form-grid {
  width: 1140px;
  display: grid;
  grid-template-columns: 330px 345px auto;
  grid-template-rows: auto auto auto;
}

.offer__book-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-size: 20px;
  font-family: "Open Sans";
  color: #fff;
  font-weight: bold;
  margin-top: 302px;
}
.offer__input-call-number {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  width: 330px;
  height: 55px;
  border: 1px solid #000;

  padding-left: 18px;
  margin-top: 17px;
  box-sizing: border-box;
}
.offer__input-call-number::placeholder {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.6);

}

.offer__button-get-offer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 0;
  padding-left: 23px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 330px;
  height: 55px;
  border: none;
  background-color: #002d96;

  color: #fff;
  font-size: 16px;
  font-family: "Open Sans";

  margin-left: 15px;
  margin-top: 16px;

  cursor: pointer;
}
.offer__right-arrow-btn {
  width: 27px;
  height: 13px;

  margin-right: 18px;
}

.offer__checkbox-accept-agreement {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;

  margin-left: 13px;
  margin-top: 7px;
}

.offer__checkbox-btn {
  margin-right: 7px;
}

.offer__agreement-cap {
  margin-top: 1px;

  font-size: 11px;
  font-family: "Open Sans";
  color: #fff;
  font-weight: 400;
}
.offer__agreement-text {
  text-decoration: underline;
  color: #fff;
}

.offer__info-amount {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 334px;
  min-width: 334px;
  min-height: 75px;

  margin-left: 100px;

  background-image: url(../images/offer-info-amount.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
}

.offer__info-amount-text {
  margin-top: 1px;

  margin-left: 33px;
  font-size: 26px;
  font-family: "Open Sans";
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23px;
}
.offer__info-amount-sub-text {
  font-size: 20px;
}
.offer__info-amount-value {
  font-size: 50px;
  font-family: "Open Sans";
  color: #002d96;
  font-weight: bold;

  margin-right: 12px;
}
.offer__info-amount-percent {
  font-size: 34px;
}

.info {
  display: flex;
  justify-content: center;

  max-width: 1920px;
  width: 100%;
  min-height: 738px;

  background-color: #fff;
  background-image: url(../images/info-background.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.info__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.info__show-cars {

}

.info__slider-elements-car {
  margin-top: 143px;
  max-width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 0;
}
.info__slider-img {
  margin-bottom: 17px
}
.info__slider-img:last-child {
  margin-bottom: 0;
}
.slick-prev2, .slick-next2 {
  display: block;
  min-width: 30px;
  min-height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;

  cursor: pointer;
}

.slick-prev2 {
  margin-bottom: 15px;
  background-image: url(../images/left-chevron.png);
}
.slick-next2 {
  background-image: url(../images/right-chevron.png);
}
.slick-vertical {
}
